#green {
    padding: 50px;
    height: 100px;
    width: 100px;        
    border-radius: 50%;
    background-color: #7e7e7e;
    margin: 10px;
    cursor: pointer;
}

#red {
    padding: 50px;
    height: 100px;
    width: 100px;        
    border-radius: 50%;
    background-color: #7e7e7e;
    margin: 10px;
    cursor: pointer;
}


#result {
    border-radius: 0;
    height: auto;
    width: 200px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    font-family: Arial;
    background-color: #f0f0f0;
}